<!DOCTYPE html>
<!--CU There-->
<html>
	<head>
		<meta charset="utf-8">
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    </head>

    <style>

        .container{
            display: flex;
            flex-direction: column;
            margin: auto 0px;
            font-family: 'Courier New', Courier, monospace;
            gap: 20px;

        }

        .ad-container{
            display: flex;
            flex-direction: column;
            font-family: 'Courier New', Courier, monospace;
            align-items: center;
            justify-content: center;
            height: 15 rem;
        }

        hr{
            border: black solid 2px;
        }


    </style>

    
	<body>

        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;">
            Iframe tags work as expected.
        </p>

        <div class="container">        

            <div class="ad-container">
                <ins class='dcmads' style='display:inline-block;width:728px;height:90px' data-dcm-placement='N458401.3949321PMPRECISIONDV360/B29179436.356442785' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id='' data-dcm-click-tracker=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <ins class='dcmads' style='display:inline-block;width:300px;height:50px' data-dcm-placement='N458401.3949321PMPRECISIONDV360/B29179436.356442788' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id='' data-dcm-click-tracker=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <ins class='dcmads' style='display:inline-block;width:300px;height:600px' data-dcm-placement='N458401.3949321PMPRECISIONDV360/B29179436.356803528' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id='' data-dcm-click-tracker=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <ins class='dcmads' style='display:inline-block;width:320px;height:50px' data-dcm-placement='N458401.3949321PMPRECISIONDV360/B29179436.356803531' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id='' data-dcm-click-tracker=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <ins class='dcmads' style='display:inline-block;width:300px;height:250px' data-dcm-placement='N458401.3949321PMPRECISIONDV360/B29179436.356804437' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id='' data-dcm-click-tracker=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <ins class='dcmads' style='display:inline-block;width:160px;height:600px' data-dcm-placement='N458401.3949321PMPRECISIONDV360/B29179436.356804935' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id='' data-dcm-click-tracker=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            
        </div>


	</body>

</html>


