<!DOCTYPE html>
<!--CU There-->
<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="https://crownpeak.com/layout/icons/favicon.png">
        
        <script>
            (function (id) {

        
            window.evidon = {};
            window.evidon.id = id;
            window.evidon.test = false;
            })(3714);
        </script>


        <script src="/js/donut.js" charset="utf-8"></script>
        <script async src="/onprem/evidon-sitenotice-tag.js" charset="utf-8"></script>
        <script async id="evidon-themes" src="/onprem/snthemes.js" charset="utf-8"></script>
        <script async id="evidon-location" src="/onprem/country.js" charset="utf-8"></script>
        
                

    </head>
    
	<body>

        <script type="text/javascript">
            var utag_data = {
              consent_categories : "", // 
              consent_vendors : "", // 
              event_name : "", // Tealium variable to identify unique events eg. social_share, user_login, etc.
              tealium_event : "", // Identifies the unique names of tracked events.
              page_type : "" // Tealium variable to identify page types/templates eg. home, category, search, product, etc.
            }
        </script>
            
            
        <script type="text/javascript">
            (function(a,b,c,d){
            a='https://tags.tiqcdn.com/utag/crownpeak/justin-onprem-testing/prod/utag.js';
            b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
            a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
            })();
        </script>
            
        <canvas id="canvasdonut" width="300" height="240"></canvas>
        <button onclick="anim2();">toggle animation</button>
        
        

        


            
	
       
	</body>
    

</html>


