<!DOCTYPE html>
<!--CU There-->
<html>
	<head>

        <link rel="stylesheet" href="/style.css">
        
    <!-- Google Tag Manager -->
    <script>(
        function(w,d,s,l,i){
            w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NTW7PC5');
    </script>
    <!-- End Google Tag Manager -->

		<meta charset="utf-8">
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    </head>
    
	<body>
	

	<button class="language" id="changelangugaeid"  onclick="changeLangugae();"> change Language </button>


    <script>

        
        function changeLangugae(){
            var button = document.getElementById('changelangugaeid')
            if (window.evidon.notice.activeTranslations.languageCode === 'en-us'){
                window.evidon.notice.activateTranslations('fr')  
                button.innerHTML = 'Change language to: English'     
            }
            else {window.evidon.notice.activateTranslations('en-us')
                
                button.innerHTML = 'Change Language to: French'
            }

            window.evidon.notice._pullOptOutDetails(()=>{
                var aN = this;
            })
            
        }
    
    </script>
    
	</body>

    

</html>
