<!DOCTYPE html>
<!--CU There-->
<html>
	<head>

        <link rel="stylesheet" href="/style.css">
        


		<meta charset="utf-8">
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    </head>
    
	<body>
	

	<button class="language" id="changelangugaeid"  onclick="changeLangugae();"> change Language </button>


    <script>

        
        function changeLangugae(){
            var button = document.getElementById('changelangugaeid')
            if (window.evidon.notice.activeTranslations.languageCode === 'en-us'){
                window.evidon.notice.activateTranslations('fr')  
                button.innerHTML = 'Change language to: English'     
            }
            else {window.evidon.notice.activateTranslations('en-us')
                
                button.innerHTML = 'Change Language to: French'
            }

            window.evidon.notice._pullOptOutDetails(()=>{
                var aN = this;
            })
            
        }
    
    </script>
    
	</body>

    

</html>
