<!DOCTYPE html>
<!--CU There-->
<html>
	<head>
		<script src="https://c.evidon.com/dg/dg.js" companyid="3714"></script>

		<script type="text/javascript">
		    (function (id) {
			function append(scriptid, url, async) {
			    var d = document, sn = 'script', f = d.getElementsByTagName(sn)[0];
			    if (!f) f = d.head;
			    var s = d.createElement(sn);
			    s.async = async;
			    s.id = scriptid;
			    s.src = url;
			    s.charset = 'utf-8';
			    f.parentNode.insertBefore(s, f);
			}

			function is2parttld(value) {
			    var tldindicators = ['co', 'com', 'info', 'web', 'info', 'gov', 'edu', 'biz', 'net', 'org'];
			    var countryindicators = ['uk', 'us', 'fr', 'es', 'de', 'at', 'au', 'ae', 'be', 'br', 'ca', 'ch', 'cn', 'co', 'cz', 'dk', 'eg', 'eu', 'fi', 'gb', 'gr', 'hk', 'hr', 'hu', 'ie', 'in', 'jp', 'mx', 'nl', 'no', 'nz', 'pl', 'ro', 'ru', 'se'];
			    return (tldindicators.indexOf(value) !== -1 || countryindicators.indexOf(value) !== -1);
			}

			function getRootDomain() {
			    var parts = window.location.hostname.split('.');
			    if (parts.length === 2) rootDomain = parts[0];
			    else if (parts.length > 2) {
				// see if the next to last value is a common tld
				var part = parts[parts.length - 2];
				if (is2parttld(part)) {
				    rootDomain = parts[parts.length - 3]; // go back one more
				}
				else {
				    rootDomain = part;
				}
			    }

			    return rootDomain;
			}

			window.evidon = {};
			window.evidon.id = id;
			window.evidon.test = false;  // set to true for non-production testing.
			//window.evidon.userid = '';

			var cdn = '//c.evidon.com/', rootDomain = getRootDomain(), noticecdn = cdn + 'sitenotice/';
			append('evidon-notice', noticecdn + 'evidon-sitenotice-tag.js', false);
			append('evidon-location', cdn + 'geo/country.js', true);
			append('evidon-themes', noticecdn + id + '/snthemes.js', true);
			if (rootDomain) append('evidon-settings', noticecdn + id + '/' + rootDomain + (window.evidon.test ? '/test' : '') + '/settings.js', true);

			window.evidon.priorConsentCallback = function (categories, vendors, cookies) {

				var arguments = {
					'hello':'world'
				}
				//window.location.reload()
				// add the tags which need to wait for prior consent
            			// here.  This should be all your advertising tags and
            			// probably most of your social and tracking tags.
						const myPromise = new Promise((resolve, reject) => {

							
								if(dataLayer[2][0] == 'consent'){
									resolve(dataLayer)
								}

							
						});

						myPromise.then(function(){
							dataLayer.push(arguments)
						})





			}

			window.evidon.closeCallback = function () {
				
				
				//console.log('close callback')
				// this is executed if the user closed a UI element without either Accepting (providing consent)
            			// or Declining (declining to provide consent).
				

			}

			window.evidon.consentWithdrawnCallback = function () {
				
				//window.location.reload()
				
				
				
			}

			window.evidon.consentDeclinedCallback = function () {
				// this is executed if the user explicitly declines giving consent by
				// using a Decline button
			}




		    })(3714);
		</script>

		<meta charset="utf-8">
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
		
		<script></script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WFKNVCC');
		</script>
		<!-- End Google Tag Manager -->

       
		
		<style>

		    a[href^="http://maps.google.com/maps"]{display:none !important}
		    a[href^="https://maps.google.com/maps"]{display:none !important}

				.gmnoprint a, .gmnoprint span, .gm-style-cc {
			display:none;
		    }
		    .gmnoprint div {
			background:none !important;
		    }

				html, body {
			width: 100%;
			height: 100%;
		    }
		    .wrapper {
			position: relative;
			width: 50%;
			height: 50%;
					margin: auto;
					border-radius: 10px;

		    }
		    #map {
			position: absolute;
			width: 100%;
			height: 100%;
			background: #eee;
		    }
				#evidon-prefdiag-overlay{
			border: 2px;
					border-radius: 10px;
		    }
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
    </head>
    
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFKNVCC"
			height="0" width="0" style="display:none;visibility:hidden">
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->



	

	<span class="evidon-notice-link"></span>

	</body>

</html>
