<!DOCTYPE html>
<!--CU There-->
<html>
	<head>

        <script companyid="3714" src="https://c.evidon.com/dg/dg.js"></script>
        <script type="text/javascript">
            (function (id) {
                function append(scriptid, url, async) {
                    var d = document, sn = 'script', f = d.getElementsByTagName(sn)[0];
                    if (!f) f = d.head;
                    var s = d.createElement(sn);
                    s.async = async;
                    s.id = scriptid;
                    s.src = url;
                    s.charset = 'utf-8';
                    f.parentNode.insertBefore(s, f);
                }

                function is2parttld(value) {
                    var tldindicators = ['co', 'com', 'info', 'web', 'info', 'gov', 'edu', 'biz', 'net', 'org'];
                    var countryindicators = ['uk', 'us', 'fr', 'es', 'de', 'at', 'au', 'ae', 'be', 'br', 'ca', 'ch', 'cn', 'co', 'cz', 'dk', 'eg', 'eu', 'fi', 'gb', 'gr', 'hk', 'hr', 'hu', 'ie', 'in', 'jp', 'mx', 'nl', 'no', 'nz', 'pl', 'ro', 'ru', 'se'];
                    return (tldindicators.indexOf(value) !== -1 || countryindicators.indexOf(value) !== -1);
                }

                function getRootDomain() {
                    var parts = window.location.hostname.split('.');
                    if (parts.length === 2) rootDomain = parts[0];
                    else if (parts.length > 2) {
                        // see if the next to last value is a common tld
                        var part = parts[parts.length - 2];
                        if (is2parttld(part)) {
                            rootDomain = parts[parts.length - 3]; // go back one more
                        }
                        else {
                            rootDomain = part;
                        }
                    }

                    return rootDomain;
                }

                window.evidon = {};
                window.evidon.id = id;
                window.evidon.test = false;  // set to true for non-production testing.
                //window.evidon.userid = '';

                var cdn = '//c.evidon.com/', rootDomain = getRootDomain(), noticecdn = cdn + 'sitenotice/';
                append('evidon-notice', noticecdn + 'evidon-sitenotice-tag.js', false);
                append('evidon-location', cdn + 'geo/country.js', true);
                append('evidon-themes', noticecdn + id + '/snthemes.js', true);
                if (rootDomain) append('evidon-settings', noticecdn + id + '/' + rootDomain + (window.evidon.test ? '/test' : '') + '/settingsV2.js', true);

                window.evidon.priorConsentCallback = function (categories, vendors, cookies) {}

                window.evidon.closeCallback = function () {}

                window.evidon.consentWithdrawnCallback = function () {}

                window.evidon.consentDeclinedCallback = function () {window.evidon.notice.dropSuppressionCookie(30);}

            })(3714);
        </script>


		<meta charset="utf-8">
        
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <button id="changelangugaeid" onclick="changeLangugae()">Click here to change the language</button>
	
    </head>
    
	<body>

        
	

	<span class="evidon-notice-link"></span>

    <script>
        function changeLangugae(){
        var button = document.getElementById('changelangugaeid')
        if (window.evidon.notice.activeTranslations.languageCode === 'en-us'){
            window.evidon.notice.activateTranslations('fr')  
            button.innerHTML = 'Change Language to: English'     
        }
        else {
            
            window.evidon.notice.activateTranslations('en-us')
            button.innerHTML = 'Change Language to: French'
        }

        window.evidon.notice._pullOptOutDetails(()=>{
            var aN = this;
        })
    }
    </script>


	</body>

</html>
