<!DOCTYPE html>
<!--CU There-->
<html>
	<head>
		<meta charset="utf-8">
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    </head>

    <style>

        .container{
            display: flex;
            flex-direction: column;
            margin: auto 0px;
            font-family: 'Courier New', Courier, monospace;

        }

        .ad-container{
            display: flex;
            flex-direction: column;
            font-family: 'Courier New', Courier, monospace;
            align-items: center;
            justify-content: center;
            height: 15 rem;
        }

        hr{
            border: black solid 2px;
        }


    </style>

    
	<body>

        <div class="container">
            
            
            <div class="ad-container">
                <h1>Iframe/JavaScript</h1>
                <ins class='dcmads' style='display:inline-block;width:728px;height:90px' data-dcm-placement='N6438.4787337JUSTINSDEBUGSITE/B30227872.371767756' data-dcm-rendering-mode='iframe' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-gdpr-applies='gdpr=${GDPR}' data-dcm-gdpr-consent='gdpr_consent=${GDPR_CONSENT_755}' data-dcm-addtl-consent='addtl_consent=${ADDTL_CONSENT}' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <h1>JavaScript/Standard	</h1>
                <ins class='dcmads' style='display:inline-block;width:728px;height:90px' data-dcm-placement='N6438.4787337JUSTINSDEBUGSITE/B30227872.371767756' data-dcm-rendering-mode='script' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-gdpr-applies='gdpr=${GDPR}' data-dcm-gdpr-consent='gdpr_consent=${GDPR_CONSENT_755}' data-dcm-addtl-consent='addtl_consent=${ADDTL_CONSENT}' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>

            <div class="ad-container">
                <h1>Legacy Iframe/JavaScript</h1>
                <IFRAME SRC="https://ad.doubleclick.net/ddm/adi/N6438.4787337JUSTINSDEBUGSITE/B30227872.371767756;sz=728x90;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;dc_sdk_apis=[APIFRAMEWORKS];dc_omid_p=[OMIDPARTNER];gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};dc_tdv=1?" WIDTH=728 HEIGHT=90 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR='#000000'> <SCRIPT language='JavaScript1.1' SRC="https://ad.doubleclick.net/ddm/adj/N6438.4787337JUSTINSDEBUGSITE/B30227872.371767756;abr=!ie;sz=728x90;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;dc_sdk_apis=[APIFRAMEWORKS];dc_omid_p=[OMIDPARTNER];gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};dc_tdv=1?"> </SCRIPT> </IFRAME>
            </div>

            <div class="ad-container">
                <h1>Legacy JavaScript/Standard</h1>
                <SCRIPT language='JavaScript1.1' SRC="https://ad.doubleclick.net/ddm/adj/N6438.4787337JUSTINSDEBUGSITE/B30227872.371767756;dc_sdk_apis=[APIFRAMEWORKS];dc_omid_p=[OMIDPARTNER];gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};dc_tdv=1;sz=728x90;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=?"> </SCRIPT>
            </div>


            <div class="ad-container">
                <h1>Andrew's Tag</h1>
                <ins class='dcmads' style='display:inline-block;width:300px;height:250px' data-dcm-placement='N6438.2629907AUTOCRAFTCOFFEESYRU/B10913764.145630243' data-dcm-rendering-mode='script' data-dcm-https-only data-dcm-api-frameworks='[APIFRAMEWORKS]' data-dcm-omid-partner='[OMIDPARTNER]' data-dcm-gdpr-applies='gdpr=${GDPR}' data-dcm-gdpr-consent='gdpr_consent=${GDPR_CONSENT_755}' data-dcm-addtl-consent='addtl_consent=${ADDTL_CONSENT}' data-dcm-ltd='false' data-dcm-resettable-device-id='' data-dcm-app-id=''> <script src='https://www.googletagservices.com/dcm/dcmads.js'></script> </ins>
            </div>



            
            
        </div>


	</body>

</html>


