<!DOCTYPE html>
<!--CU There-->
<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="https://crownpeak.com/layout/icons/favicon.png">
        
	
        <link rel="stylesheet" href="/css/style">

    </head>
    
	<body>
        <script type="text/javascript">
            var utag_data = {
              consent_categories : "", // 
              consent_vendors : "", // 
              event_name : "", // Tealium variable to identify unique events eg. social_share, user_login, etc.
              tealium_event : "", // Identifies the unique names of tracked events.
              page_type : "", // Tealium variable to identify page types/templates eg. home, category, search, product, etc.
              iq_view_id : "", // A system variable that contains the ID of an iQ page event and used to fire a tag when a page view event happens.
              iq_event_id : "" // A system variable that contains the ID of an iQ event and used to fire a tag when an event happens.
            }
        </script>
        
        <!-- Loading script asynchronously -->
        <script type="text/javascript">
            (function(a,b,c,d){
            a='https://tags.tiqcdn.com/utag/crownpeak/justin-livenotice-testing/prod/utag.js';
            b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
            a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
            })();
        </script>


        
                


        
        
	</body>


</html>
